<div class="row">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
          <br><br><br>
      
        </div>
      
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 ">
            <br>
            <div class="card fod">
                <div class="card-header TituloPanel modal-head">
                 ¿QUIENES SOMOS?
                </div>
                <div class="card-body">
      
                    <div class="row">  
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
                        <p>La majestad de Jehová
                            93 Jehová reina; se vistió de magnificencia;
                                Jehová se vistió, se ciñó de poder.
                                Afirmó también el mundo, y no se moverá.
                            
                            2 Firme es tu trono desde entonces;
                            Tú eres eternamente.
                            
                            3 Alzaron los ríos, oh Jehová,
                            Los ríos alzaron su sonido;
                            Alzaron los ríos sus ondas.
                            
                            4 Jehová en las alturas es más poderoso
                            Que el estruendo de las muchas aguas,
                            Más que las recias ondas del mar.
                            
                            5 Tus testimonios son muy firmes;
                            La santidad conviene a tu casa,
                            Oh Jehová, por los siglos y para siempre.</p>
                     
                        
                    
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
                         <p>Oración clamando por venganza
                            94 Jehová, Dios de las venganzas,
                                Dios de las venganzas, muéstrate.
                            
                            2 Engrandécete, oh Juez de la tierra;
                            Da el pago a los soberbios.
                            
                            3 ¿Hasta cuándo los impíos,
                            Hasta cuándo, oh Jehová, se gozarán los impíos?
                            
                            4 ¿Hasta cuándo pronunciarán, hablarán cosas duras,
                            Y se vanagloriarán todos los que hacen iniquidad?
                            
                            5 A tu pueblo, oh Jehová, quebrantan,
                            Y a tu heredad afligen.
                            
                            6 A la viuda y al extranjero matan,
                            Y a los huérfanos quitan la vida.
                            
                            7 Y dijeron: No verá JAH,
                            Ni entenderá el Dios de Jacob.</p>
                    
                        </div>
                    
                          
                       
                    
                          </div>
                   
                </div>
                <div class="card-footer text-muted ">
                    <button type="button" (click)="open()" class="btn bot somb"><b>Misión y visión <span class="oi oi-align-center"></span></b></button>
                    <a class="btn btn-danger BotonRegresar somb" [routerLink]="['/dashboard/inicio/inicio']" role="button"><b>Regresar</b></a>
                    
      
                  </div>
              </div>
      
      
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
      
      
        </div>
      
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      
