<div class="content">
        <div class="modal-header TituloModal modal-head  justify-content-center" >
          {{title}}</div>

          <div class="modal-body">
        
        
         
                <div class="row">  
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
                        <p>La majestad de Jehová
                            93 Jehová reina; se vistió de magnificencia;
                                Jehová se vistió, se ciñó de poder.
                                Afirmó también el mundo, y no se moverá.</p>
                     
                        
                    
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">
                         <p>Oración clamando por venganza
                            94 Jehová, Dios de las venganzas,
                                Dios de las venganzas, muéstrate.
                            
                            2 Engrandécete, oh Juez de la tierra;
                            Da el pago a los soberbios.
                            
                            3 ¿Hasta cuándo los impíos,
                            Hasta cuándo, oh Jehová, se gozarán los impíos?
                           .</p>
                    
                        </div>
                    
                          
                       
                    
                          </div>
                          <div class="modal-footer justify-content-center">
                              <button class="btn btn-danger botGuradar somb"  (click)="activeModal.close('Close click')"><b>Cancelar</b></button>
                            
                          </div>
                        </div>
      
   
         
        </div>