body {
  margin: 0;
  background-color: #EBE7D5;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}


.TituloPanel{

  font: bold 130% sans-serif !important;
  text-align: center !important;

}


.TituloModal{

  font: bold 130% sans-serif !important;
  text-align: center !important;

}
.SombFact{
  -webkit-box-shadow: 0px 6px 7px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 7px -9px rgba(0,0,0,0.75);
box-shadow: 0px 6px 7px -9px rgba(0,0,0,0.75);
}

.fod{
  -webkit-box-shadow: -1px 20px 35px -3px rgba(117,113,117,1);
  -moz-box-shadow: -1px 20px 35px -3px rgba(117,113,117,1);
  box-shadow: -1px 20px 35px -3px rgba(117,113,117,1);


  }

  .fond{
   -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    }
.borderedondotable{
 border-radius:8px;

}
.bot{
  color: #fff;
  background-color: #1D8D95;
  border-color: #1D8D95;
  display: inline-block;
  padding: 3px 17px;
  padding: 3px 17px;

}
.bordered{
  border-radius: 45px !important;
}

.tabl{
  color: #fff;
  background-color: #1D8D95;
  border-color: #1D8D95;

}

.fa-facebook-square:before {
  font-size: 45px !important;
  padding-right: 10px !important;
}

.fa-youtube:before {
  font-size: 50px !important;
  padding-right: 10px !important;
}

.fa-twitter-square:before {
  font-size: 45px !important;
  padding-right: 10px !important;
}
.fa-instagram:before {
  font-size: 45px !important;
  padding-right: 10px !important;
}
.fa-telegram-plane:before {
  font-size: 45px !important;
  padding-right: 10px !important;
}
.dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

a[data-toggle="collapse"] {
  position: relative;
}

.BotonRegresar{
  color: #fff;
  background-color: #D5463C;
  border-color: #D5463C;
display: inline-block;
  padding: 3px 17px;
  padding: 3px 17px;
  margin-left: 9px;
  

}
.botGuradar{
  padding: 3px 17px;

  padding: 3px 17px;

}

.BotonTabla{


    display: inline-block;
    padding: 3px 17px;
    margin: 0;

    font-size: 12px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-image: none;
      border: 0px solid transparent;
      border-radius: 15px;

      color: #fff;
      background-color: #d9534f;
      border-color: #d43f3a;




}
.BotonTablaEditar{


  display: inline-block;
    padding: 3px 17px;
     margin: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 15px;

    color: #fff;
    background-color: #1D8D95;
    border-color: #1D8D95;




}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #e9ecef !important;
  font-weight: bold !important;
  

}

input{
  font: bold 103.2% monospace !important;
  text-align: center !important;
  font-size: 14px !important;
}

tbody {
  font: bold 103.2% monospace !important;
  font-size: 14px !important;
  color: #454647;
  border: 10px !important;
}

.table-sm th, .table-sm td {
  padding: 0.2rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.17rem;
}

.dropdown-menu.show {
  display: block !important;
  background-color: #17a2b8 !important;
  margin-top: 7.5px !important;
  padding-top: 0.8px !important;
  padding-bottom: 1px !important;
}

.dropdown-divider {
  height: 0;
  margin: 0.01rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.3rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
 

.f{
  
  margin-left: 45px !important;
}

.icoprovee{
  
  margin-left: 30px !important;
}


.dropdown-menu.show {
  display: block !important;
  
  background-color: #17a2b8 !important;
  margin-top: 4px !important;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529 !important;
}

.ngx-pagination a, .ngx-pagination button {
  color: #646567 !important;
  font-weight: bold !important;
}
.ngx-pagination .current {
 
  background: #2c9eaf !important;

}

.ngx-pagination {
  margin-left: 350px !important;
  margin-bottom: 1rem !important;
}
.sombraNav{
  -webkit-box-shadow: 0px 10px 27px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 27px -17px rgba(0,0,0,0.75);
box-shadow: 0px 10px 27px -17px rgba(0,0,0,0.75);

  
}
    .modal-head {
      padding:10px;
      border-bottom: 2px solid #e5e5e5;
      text-align: center !important;

      padding: 9px;

      color: #fff;
      text-align: center !important;

      background-color: #1D8D95;

      border-top-left-radius: 5px;
      border-top-right-radius: 5px;



    }

    .somb{
      -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);

    }


