<div class="row">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
          <br><br><br>
      
        </div>
      
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 ">
            <br>
            <div class="card fod">
                <div class="card-header TituloPanel modal-head">
                  Administracion de clientes
                </div>
                <div class="card-body">
      
                    <button type="button" (click)="open()" class="btn bot somb"><b>Agregar nuevo <span class="oi oi-align-center"></span></b></button>
                    <a class="btn btn-danger BotonRegresar somb" [routerLink]="['/dashboard/inicio/inicio']" role="button"><b>Regresar</b></a>
                    <br><br>
                    <table class="table table-bordered table-hover table-sm table-striped bordered" >
                        <thead class="tabl">
                        <tr>
                          <th scope="col" class="text-center">#</th>
                          <th scope="col" class="text-center">Usuario</th>
                          <th scope="col" class="text-center">Password</th>
                          <th scope="col" class="text-center">Nombre</th>
                          <th scope="col" class="text-center">Apellido</th>
                          <th scope="col" class="text-center">Documento</th>
                          <th scope="col" class="text-center">Email</th>                  
                          <th scope="col" class="text-center">Editar</th>
                          <th scope="col" class="text-center">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let usu of usuarios | paginate: { itemsPerPage: 5, currentPage: p }">
                          <td scope="col" class="text-center">{{usu.IdUsuario}}</td>
                          <td scope="col" class="text-center">{{usu.LoginUsuario}}</td>
                          <td scope="col" class="text-center">{{usu.PasswordUsuario}}</td>
                          <td scope="col" class="text-center">{{usu.NombreUsuario}}</td>
                          <td scope="col" class="text-center">{{usu.ApellidoUsuario}}</td>
                          <td scope="col" class="text-center">{{usu.DocumentoUsuario}}</td>
                          <td scope="col" class="text-center">{{usu.EmailUsuario}}</td>
                          <td class="text-center"><button type="button" (click)="open2()" class="btn somb BotonTablaEditar"><b>Editar</b></button></td>
                          <td class="text-center"><button type="button" class="btn BotonTabla somb"><b>Eliminar</b></button></td>
      
                        </tr>
                        </tbody>
                      </table>
                                 <pagination-controls  previousLabel="Anterior"
                                 nextLabel="Siguiente"  maxSize="5"  screenReaderCurrentLabel="You're on page" (pageChange)="p = $event" ></pagination-controls>
      
                </div>
                <div class="card-footer text-muted ">
      
                  </div>
              </div>
      
      
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
      
      
        </div>
      
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      
