


<footer class="footer">
    <div class="container">
      <div class="row">
           <div class="col-xs-12 col-md-6 text-left">
              <STRONG><h6 class="text lead">CONTACTOS:</h6></STRONG>
              <h6 class="text lead">
             Calle 4D # 27A - 28 - La candelaria.<br>
              Galapa Atlantico.<br>
              Teléfonos: 3115988953 – 3112641818.<br>
              </h6>
          </div>

          <div class="col-xs-12 col-md-6 text-right">
              <h6 class="text lead">ENCUENTRANOS EN LAS REDES</h6>
              <div class="redes-footer">

              </div>
          </div>
      </div>
      <div class="row">

          <div class="col-md-12 text-right">
            <p class="text small">Josue Delgado Zaparán, Softwrare y desarrollo @2019.<br> Todos los derechos reservados.</p>
          </div>

      </div>

    </div>

  </footer>
